<div class="row">
    
    <hr/>
    <h1><u>Hard & Soft Skill</u></h1>
    
    <div class="col-sm-12 col-md-2 col-lg-2 skill">
        <circle-progress
            [percent]="85"
            [radius]="70"
            [imageSrc]="'../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ffffff'"
            [innerStrokeColor]="'#2894ff'"
            [animation]="true"
            [animationDuration]="3800"
        ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2 skill2">
        <circle-progress
            [percent]="65"
            [radius]="70"
            [imageSrc]="'../../assets/css.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ffffff'"
            [innerStrokeColor]="'#2894ff'"
            [animation]="true"
            [animationDuration]="3800"
        ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2 skill3">
        <circle-progress
            [percent]="60"
            [radius]="70"
            [imageSrc]="'../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [showSubtitle]="false"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ffffff'"
            [innerStrokeColor]="'#2894ff'"
            [animation]="true"
            [animationDuration]="3800"
        ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2 skill4">
        <circle-progress
            [percent]="60"
            [radius]="70"
            [imageSrc]="'../../assets/angular.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="65"
            [showSubtitle]="false"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ffffff'"
            [innerStrokeColor]="'#2894ff'"
            [animation]="true"
            [animationDuration]="3800"
        ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2 skill5">
        <circle-progress
            [percent]="60"
            [radius]="70"
            [imageSrc]="'../../assets/Bootstrap.svg'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showSubtitle]="false"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ffffff'"
            [innerStrokeColor]="'#2894ff'"
            [animation]="true"
            [animationDuration]="3800"
        ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2 skill6">
        <circle-progress
            [percent]="70"
            [radius]="70"
            [imageSrc]="'../../assets/logo-git.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="3"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ffffff'"
            [innerStrokeColor]="'#2894ff'"
            [animation]="true"
            [animationDuration]="3800"
        ></circle-progress>
    </div>
    
</div>