.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logoAp{
    display:flex ;
    width: 120px;
}

img{
    width: 30px;
    margin-left: 10px;
}
.social{
    margin-left: 60%;
}

.btn{
    align-items: center;
}