<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../assets/APLogo.png" id="logoAp">
        </div>
            
        <div class="social">
            <a href="#"><img src="../../../assets/logo-git.png" id="logo-git"></a>
             <a href="#"><img src="../../../assets/logo-face.png" id="logo-face"></a>
            <a href="#"><img src="../../../assets/logo-link.png" id="logo-link"></a>
        </div>
        <div>
            <button type="button" class="btn btn-outline-info">Ingresar</button>
        </div>
    </div>
</div>