<div class="row">
    <hr/>
    <h1>Experiencia:</h1>
    <div class="col-lg-10">
        <ul class="list-unstyled">
            <li>
                <h3>Trabajo 1 | </h3>
                <h4>(year)</h4>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatum architecto dicta praesentium cupiditate corporis aliquam sit sint aliquid hic, porro in maxime cum dolorem recusandae quaerat rerum quo officia?</p>
            </li>
            <li>
                <h3>Trabajo 2 | </h3>
                <h4>(year)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, error hic inventore architecto dolor qui non dolores eos sapiente amet sunt nostrum, consequatur nihil numquam cupiditate laudantium. Ab, necessitatibus officia.</p>
            </li>
        </ul>
    </div>
</div>