<div class="row">
    <hr/>
    <h1>Datos Académicos:</h1>
    <div class="col-lg-10 estudios">
        <ul class="">
            <li>
                <h3>Perito en Seguridad e Higiene | </h3>
                <p> CENS N° 364</p>
            </li>
            <li>
                <h3>Lic. Sistemas - Orientacion Calidad de Sofware. | (En curso) | </h3>
                <p> UNIVERSIDAD UNTDF</p>
            </li>
        </ul>
    </div>
    <div class="col-lg-10 capacitaciones">
        <h1>Cursos y Capacitaciones</h1>
        <ul class="">
            <li>
                <h3>Se Programar | </h3>
                <p> ARGENTINA PROGRAMA</p>
            </li>
            <li>
                <h3>Yo Programo (En curso) | </h3>
                <p> ARGENTINA PROGRAMA</p>
            </li>
            <li>
                <h3>Develop Full Stack | (En curso) | </h3>
                <p> ORACLE</p>
            </li><li>
                <h3>Data Analitycs - Tableu | </h3>
                <p> DATABROTES - BLUEPATAGON</p>
            </li>
            <li>
                <h3>Programacion HTML5 - CSS (Orientado al Front) | (En curso) | </h3>
                <p> CCNA - UTN TDF</p>
            </li>

        </ul>
    </div>

</div>