<div class="row">
    <hr/>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="perfil" src="../../../assets/perfil.jpg" class="img-fluid" >
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombres">Menor Sergio</p>
        <p id="job">Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Magni, necessitatibus 
            quam delectus sunt excepturi eos rerum deleniti, 
            ad culpa nulla dolores illo. Officiis quod nobis 
            distinctio ipsum aspernatur recusandae magni!
            </p>
        </span>
    </div>
</div>
