<div class="row">
    <hr/>
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 section1">
            <h3>Menu html - css - js</h3>
            <p>Nav con opacidad y flotante , con fondo de particulas.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 section2">
            <img src="../../../assets/Menu.png" class="img-fluid img-proyec">
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 section1">
            <h3>Formulario de contacto Html y Css.</h3>
            <p>Formulario basico de contacto.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 section2">
            <img src="../../../assets/proyec-footer.png" class="img-fluid img-proyec">
        </div>
    </div>
</div>


